html,
body,
#Root,
#App {
  height: 100%;
}

body {
  margin: 0;
  background: var(--light-gray);
}

#App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Header {
  width: 100%;
  height: 145px;
  background: var(--gray);

  display: flex;
  flex-direction: column;
}

#Header-highlightBar {
  height: 5px;
  background: var(--highlight);
}

#Header-bodyWrapper {
  flex-grow: 1;
}

#Header-navWrapper {
  height: 35px;
  background: var(--dark-gray);
}

#Page {
  flex-grow: 1;
  background: var(--light-gray);
  width: var(--content-width);
  background: var(--white);
}

#Footer {
  width: var(--content-width);
  height: 65px;
  background: var(--gray);
}

#Footer-blackBar {
  height: 5px;
  width: 100%;
  background: var(--dark-gray);
}
