@import './app.css';

:root {
  --white: #F7f7f7;
  --light-gray: #BEBEBE;
  --gray: #404040;
  --dark-gray: #252525;

  --highlight: #CE3229;
  --green: #248200;
  --active: #DD8131;

  --content-width: 900px;
}
